a[target="_blank"]:after{
    content: '';
    background: no-repeat url(images/svg/external-link.svg);
    display: inline-block;
    height: 10px;
    margin: 0 3px 0 5px;
    width: 10px;
    vertical-align: -1px;
    }
  